*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body{
    width:90%;
    margin: 0 auto;
    background: url(./img/small-eclipse.svg),url(./img/mid-eclipse.svg),url(./img/big-eclipse.svg);
    background-repeat: no-repeat;
    padding-bottom: 20px;
    height: 100vh;
    overflow: auto;
    background-position: left bottom, center center, top right;
    object-fit: contain;
}
header{
    height:70px;
    width: 100%;
}
nav{
    text-align: center;
}
li{
    display: inline-block;
    text-align: center;
    padding:  30px 5%;
}
li a{
    text-decoration: none;
    color: #000;
}
 #dots{
    float: left;
    overflow: hidden;
}
#cart{
    
    float: right;
    overflow: hidden;
} 
#dotimg{
    position: relative;
    top: 5px;
}
section{
    margin-top: 100px;
}
#details{
    width:40%;
    float: left;
    clear: both;
    padding-top: 8%;
    margin-left: 100px;
}
#image{
    width : 30%;
    text-align:center;
    float: right;
}
#laptop{
    width:90%;
}
h1{
    font-size: 70px;
    font-weight: 100;
}
p{
    font-size: 25px;
    width:130%;
    margin : 0 auto;
    margin-top: 20px;
}
#arrow{
    margin-top: 10%;
}
button{
    margin: 50px 0px;
    text-align: center;
}
button#buynow{
    color: pink;
    background-color: white;
    border: 2px solid pink;
    padding : 10px;
}
button#addcart{
    color: white;
    background-color: pink;
    border: 2px solid pink;
    padding : 10px;
}

@media (max-width:1200px)
{
    #details{
        float:none;
        width: 100%;
    }
    #image{
        float:none;
        width: 50%;
        margin: 0 auto;
    }
    p{
        width: 100%;
    }
    section{
        text-align: center;
        margin-bottom: 30px;
    }
    #details{
        margin-left: 0;
    }
    background-position: left bottom, center center, top right;
}

@media (max-width:1050px){
    body{
        background : url(./img/small-eclipse.svg),url(./img/big-eclipse.svg);
        background-position: bottom left,top right;
        background-repeat: no-repeat;
    }
    #cart{
        display: none;
    }
}
@media (max-width:700px){
    li{
        display: none;
    }
    #dots{
        display: inline;
    }
    h1{
        font-size: 45px;
    }
    p{
        font-size: 16px;
    };
}
